.top-bg {
  background-image: url("https://www.w3schools.com/w3css/img_lights.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 100vh;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
}
.top-bg h1 {
  padding: 17rem 11rem 0rem 11rem;
}
.text-center {
  text-align: center;
}
.text-center .btn {
  margin: 200px;
  padding: 12px 22px;
  font-weight: bold;
}
#navbar {
  position: absolute;
  top: 2%;
  left: 0;
  right: 0;
}
#nav li a {
  color: #000;
  font-weight: 400;
}
#nav li {
  padding: 0.1rem 20px;
}
#nav li a:hover {
  color: #f91f1f;
}
#button {
  margin-bottom: 7rem;
  margin-top: 2rem;
}
img {
  width: 300px;
  height: auto;
  margin-left:10px; 
}