.box {
    width: 1920px;
    height: 1093px;
  }
  
  .box .group {
    position: fixed;
    width: 1930px;
    height: 1093px;
    top: 0;
    left: 0;
  }
  
  .box .overlap-group {
    position: relative;
    width: 1920px;
    height: 1088px;
    top: 5px;
  }
  
  .box .rectangle {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 8px;
    left: 0;
  }
  
  .box .img {
    position: absolute;
    width: 816px;
    height: 495px;
    top: 239px;
    left: 552px;
  }
  
  .box .rectangle-2 {
    position: absolute;
    width: 175px;
    height: 57px;
    top: 761px;
    left: 1098px;
  }
  
  .box .line {
    left: 76px;
    position: absolute;
    width: 61px;
    height: 195px;
    top: 389px;
  }
  
  .box .line-2 {
    left: 1783px;
    position: absolute;
    width: 61px;
    height: 195px;
    top: 389px;
  }
  
  .box .what-number-do-you {
    position: absolute;
    width: 527px;
    height: 40px;
    top: 772px;
    left: 554px;
  }
  
  .box .your-answer {
    position: absolute;
    width: 204px;
    height: 26px;
    top: 823px;
    left: 553px;
  }
  
  .box .rectangle-3 {
    position: absolute;
    width: 208px;
    height: 86px;
    top: 890px;
    left: 1206px;
  }
  
  .box .submit {
    position: absolute;
    width: 175px;
    height: 39px;
    top: 911px;
    left: 1222px;
  }
  
  .box .rectangle-4 {
    position: absolute;
    width: 1920px;
    height: 103px;
    top: 0;
    left: 0;
  }
  
  .box .ishihara-test {
    position: absolute;
    width: 464px;
    height: 57px;
    top: 18px;
    left: 27px;
  }
  